
.center-text{
    text-align: center
}

.input-form{
    background-color: #fce1b1;
    border-radius: 10px;
    padding: 10px
}

.data-disp{
    background-color: #DDE0CD;
    border-radius: 10px;
    padding: 10px
}

.post-footer{
    text-align: right
}

.link-scroll{
    overflow-y: scroll; 
    max-height: 90vh
}

.link-input{
    background-color: #fce1b1;
    border-radius: 10px;
    padding: 5px
}

.link-disp{
    background-color: #EDD5D1;
    border-radius: 10px;
    padding: 5px
}

.map{
    height: 300px
}

.map-text{
    display: none
}

.index-bg{
    background-color: #fce1b1
}

